.newnavbar
{
    height: 10vh;
    overflow: hidden;
    border: 5px outset #9f4eb1;
    background-attachment: fixed;
    text-decoration: none !important;
    margin-top: 0px;
    z-index: 999;
    position: fixed;
    width: 100vw;
    background-image: url("./Media/1.jpg");
   padding: 0px;
    top: 0;
}
.newnavbar a
{
    font-family: "Dosis",sans-serif;
    color: #fbf6ff;
    font-size : 23px;
    list-style-type: none;
    margin: 0;
    padding: 30px 16px;
    float:left;
    text-align: center;
    text-decoration:none;
}
.newnavbar a:hover
{
    background-color: #f41997;
    color: #e1ffa4;
}
.nav-img
{
    float:right !important;
    padding: 5px 25px !important;

}

.nav-img:hover
{
    background-color:	#B284BE !important;
}
.van-a
{
    padding: 5px 5px !important;
}
.van-i
{
    width: 80px;
    height: 80px;
}

.containers
{
    height: 100vh;
    overflow: hidden;
    width:100vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./Media/6.png");
    background-color: cyan;
    background-attachment: fixed;
    background-size:100% 100%;
    border: 1px outset purple;
    background-repeat:no-repeat;
    vertical-align: middle;
    position: relative;
    margin: 0;

}
.dummy
{
    height: 10vh;
    color:white;
}

.graphAll:
{

}
.graphEach
{
    width: 47vw;
    height: 50%;
    float: left;

}
#NW { padding-left:1%;top: 0;   left: 0;   background: orange }
#NE { padding-left:1%;vtop: 0;   left: 50%;   }
#SW { padding-left:1%;top: 50%; left: 0;   background: green }
#SE { padding-left:1%;top: 50%; left: 50%; background: red }

